## ºöÂÔÎÄ¼þ




/packages
/Tuhu.YeWu.TenGu/bin
/Tuhu.YeWu.TenGu/obj/Debug
/.vs/Tuhu.YeWu.TenGu/v14/.suo
/.vs/config/applicationhost.config
/Pager/bin/Debug
/Pager/obj/Debug
/Platform/bin/Debug
/Platform/obj/Debug
/Platform/bin/Release
/Platform/obj/Release
/Tuhu.YeWu.TenGu/obj/Release
/Pager/bin
/Pager/obj/Release
