@model Tuhu.YeWu.TenGu.Models.ChangePasswordModel

@{
    ViewBag.Title = "修改密码";
}

<h2>修改密码</h2>
<p>
   
</p>
<style type="text/css">
    .tit{
        top: 50px;
        padding: 10px;
        left: 200px;
        width: 100px;
        height: 20px;
        text-align: right;
        font-size: 15px;
    }
     .divchildren {
         margin: 10px 0 5px 0
     }
    .divmain {
        text-align: center;
    }
    .divchildren input{
        width: 180px;
        height: 23px;
        padding: 3px;
        border-radius: 3px;
        outline: none;
    }
    #submit{
        margin-top: 30px;
        border-radius: 3px;
        width: 110px;
        height: 30px;
        background: #0088cc;
        border:none;
        color: #FEFEFE;
        font-size: 13px;
        font-family: "Microsoft Yahei";
    }
    #submit:hover{background: #075C86}

    #complexitywrap{
	    border: 1px solid #C5C5C5;
	    padding:0;
	    margin: 15px 0;
	    border-radius: 5px;
        width: 188px;
}

#complexity{
	padding: 5px 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	box-shadow: 0px 0px 5px #303030;
	border-radius: 5px;
	color:#CCC;
}

.valid{
	background: green;
}

.invalid{
	background: red;
}
</style>

<script src="/Scripts/jquery.form.js" type="text/javascript"></script>
@using (Html.BeginForm("ChangePassword", "Account",FormMethod.Post,new{id="SearchForm"}))
{
    @Html.ValidationSummary(true, "修改密码出错，请更正错误，再次尝试.")
    <div>
        <fieldset>
            <div class="divmain">
                <div class="divchildren">
                    <span class="tit">
                        原始密码：@Html.PasswordFor(m => m.OldPassword)
                    </span>
                    <span style="position: absolute;"></span>
                </div>
                <div class="divchildren">
                    <span class="tit">
                        新的密码：@Html.PasswordFor(m => m.NewPassword)
                    </span>
                    <span style="color: red;position: absolute;">新密码长度至少为 @ViewBag.PasswordLength 位。（不能是纯数字或字母）</span>
                </div>
                <div class="divchildren" style="width:265px;margin: 0 auto;position: relative;">
                    <span style="display: block;float:left;font-size: 15px;margin-top:7px;">强度验证:</span>
                    <div id="complexitywrap" style="float:right;margin: 0;">
                        <div id="complexity" class="invalid" style="width: 0%;"></div>
                    </div>
                    <span style="color:red;position: absolute;right:-135px;margin-top:8px;">密码强度必须大于40%</span>
                    <div style="clear: both;"></div>
                </div>
                <div class="divchildren">
                    <span class="tit">
                        确认密码：@Html.PasswordFor(m => m.ConfirmPassword)
                    </span>
                    <span style="position: absolute;"></span>
                </div>
                <div>
                    <input type="submit" id="submit" value="确  认" style="cursor: pointer;"/>
                </div>
            </div>
        </fieldset>
    </div>
}
<script src="/Content/jquery.complexify/jquery.complexify.js"></script>
<script type="text/javascript">

    $(function () {
        $("#NewPassword").complexify({}, function (valid, complexity) {
            if (!valid) {
                $('#complexity').animate({ 'width': complexity + '%' }).removeClass('valid').addClass('invalid');
            } else {
                $('#complexity').animate({ 'width': complexity + '%' }).removeClass('invalid').addClass('valid');
            }
            $('#complexity').html(Math.round(complexity) + '%');
        });
    });


    $(document).ready(function () {
        $("#NewPassword").blur(function () {
            var flag = false;
            var newPassword = $(this).val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (newPassword.length >= 8) {
                if (/^\d+$/.test(newPassword)) {
                    $(this).parent().next().empty().append("<span style='color: red;'>新密码不能是纯数字或字母！</span>");
                } else {
                    $(this).parent().next().empty().append("√");
                    if (newPassword === confirmPassword) {
                        $("input[type='submit']").removeAttr("disabled");
                    }
                }
            } else if (newPassword.length!=0) {
                $(this).parent().next().empty().append("<span style='color: red;'>新密码长度至少为 8 位！</span>");
            }

            $.ajax({
                url: "/Account/IsWeakPassword",
                data: { "password": newPassword },
                async: false,
                success:function(data) {
                    if (data === "YES") {
                        flag = true;
                    }
                }
            });

            if (flag) {
                alert("弱密码库中包含此密码，请重新填写!");
                return false;
            }

        });

        $("#ConfirmPassword").blur(function () {
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $(this).val();
            if (newPassword !== "" && newPassword !== confirmPassword) {
                $(this).parent().next().empty().append("<span style='color: red;'>新密码和确认密码不一致！</span>");
            } else if (newPassword !== "") {
                $(this).parent().next().empty().append("<span style='color: red;'>√</span>");
                if (newPassword === confirmPassword) {
                    $("input[type='submit']").removeAttr("disabled");
                }
            }
        });

        $("#submit").click(function (event) {
            event.preventDefault();
            var oldPassword = $("#OldPassword").val();
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            var pwdStrength = $("#complexity").text().replace("%", "");

            if (parseInt(pwdStrength) < 40) {
                alert("新密码强度较低，请重新填写");
                return false;
            }

            if (oldPassword.length > 0) {
                //if (!/^(?!\D+$)(?![^a-z]+$)[a-zA-Z\d]{8,}$/.test(newPassword)) {
                if(/^\d+$/.test(newPassword)){
                    $("#NewPassword").css("background-color", "#F3F3F3").focus();
                    return false;
                }
                if (newPassword !== confirmPassword) {
                    $("#ConfirmPassword").css("background-color", "#F3F3F3").focus();
                    return false;
                }
            } else {
                $("#OldPassword").css("background-color", "#F3F3F3").focus();
                $("#OldPassword").parent().next().empty().append("<span style='color: red;'>原始密码不能为空！</span>");
            }


            $("#SearchForm").ajaxSubmit({
                url: this.href,
                success: function (result) {
                    if (result == true) {
                        alert("密码修改成功，将返回登陆页面重新登录！");
                        location.href = "/Account/LogOn";
                    } else if (result == "用户名或密码错误,请重新输入!") {
                        $("#OldPassword").css("background-color", "#F3F3F3").val("").focus();
                        $("#OldPassword").parent().next().empty().append("<span style='color: red;'>原始密码输入不正确！</span>");
                    } else {
                        $("#OldPassword").css("background-color", "#F3F3F3").val("").focus();
                        $("#OldPassword").parent().next().empty().append("<span style='color: red;'>新密码和旧密码不能一样！</span>");
                    }
                },
            });
        });
    });
</script>
