@model Tuhu.YeWu.TenGu.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>途虎采购管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Link -->
    <link rel="stylesheet" href="../../Content/css/loader-style.css">
    <link rel="stylesheet" href="../../Content/css/bootstrap.css">
    <link rel="stylesheet" href="../../Content/css/signin.css">
    <link rel="shortcut icon" href="../../Content/ico/minus.png">
    <!-- Script -->
    <script type="text/javascript" src="../../Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/js/preloader.js"></script>
    <script type="text/javascript" src="../../Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../Content/js/load.js"></script>
    <style>
        ul {
            list-style-type: none;
        }
        ul li {
            color: #FFD700;
            font-size: 13px;
            font-weight: 600;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#valiCode").bind("click", function () {
                this.src = "/Account/ValidatedCodeImg?time=" + (new Date()).getTime();
            });
            $('#error').show().delay(2000).hide(0);
        });
    </script>
</head>
<body>
    <!-- 加载条 -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="container">
        <div class="" id="login-wrapper">
            <div class="row" style="margin-top: 15%;">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>途虎采购管理</h1>
                    </div>
                </div>
                <span id="error">@Html.ValidationSummary(true)</span>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box" style="min-height: 210px;">
                        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @role = "form" }))
                        {
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="UserName" class="control-label">用户名</label>
                                    <input type="text" id="UserName" name="UserName" autocomplete="off" class="form-control" style="width: 85%;" required = "">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="Password" class="control-label">密&nbsp;&nbsp;码&nbsp;</label>
                                    <input type="password" id="Password" name="Password" class="form-control" style="width: 85%;" required = "">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="Password" class="control-label">验证码</label>
                                    @Html.TextBox("ValidatedCode", "", new {@class = "form-control", style = "width: 55%;", @required = ""})
                                    <img id="valiCode" style="cursor: pointer; height: 30px;" src="/Account/ValidatedCodeImg" alt="验证码"/>
                                </div>
                            </div>
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox">记住用户名
                                </label>
                            </div>
                            <button class="btn btn btn-primary pull-right" type="submit">
                                登 录
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">
                Copyright &nbsp;2011-@DateTime.Now.Year &copy;途虎养车网 All Rights Reserved.<br />
                所有内容为途虎养车网商业机密信息，切勿泄漏
            </h6>
        </div>
    </div>
</body>
</html>
