<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <domainConfig topDomain="tuhu.cn">
    <domain name="YewuSite" site="http://unityewu.tuhu.unit" />
    <domain name="PurchaseSite" site="http://localhost:1350" />
    <domain name="OrderSite" site="http://testoms.tuhu.test" />
    <domain name="ProvisioningSite" site="http://setting.tuhu.cn" />
    <!--<domain name="ReportSite" site="http://item.tuhu.cn" />-->
  </domainConfig>
  <moduleDomain>
   <module name="DefaultDomain" domain="http://localhost:2760" />
   <module name="采购" domain="http://localhost:1350" />
   <module name="移动端配置" domain="http://setting.tuhu.cn" />
   <module name="报表" domain="http://reporting.yewu.tuhu" />
   <module name="采购-轮胎/轮毂库存表" domain="http://yewu.tuhu.cn" />
   <module name="采购-轮胎/轮毂缺货表" domain="http://yewu.tuhu.cn" />
   <module name="采购-销售报表" domain="http://yewu.tuhu.cn" />
   <module name="采购-库存明细报表" domain="http://yewu.tuhu.cn" />
   <module name="订单-轮胎轮毂未发出报表" domain="http://yewu.tuhu.cn" />
   <module name="订单-保养未采购未发出每日汇总报表" domain="http://yewu.tuhu.cn" />
   <module name="采购-明细报表" domain="http://purchase.tuhu.cn" />
   <module name="采购-取货到货率报表" domain="http://purchase.tuhu.cn" />
   <module name="订单-品牌销售月报" domain="http://yewu.tuhu.cn" />
   <module name="订单-米其林销售报表" domain="http://yewu.tuhu.cn" />
  </moduleDomain>
</configuration>


