<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>

    <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    <section name="zooKeeperLocker" type="Tuhu.Component.Framework.ZooKeeper.ZooKeeperLockerSection, Tuhu.Component.Framework" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <!--  COMMERCE SERVER CONFIGURATION SECTION HANDLERS
      These configuration sections are required for the Commerce Server .NET Application
      Framework to function properly.  They must be registered using the strong name for the
      assemblies.
    -->

    <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
    <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
  </configSections>
  <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="expiration" file="Cache.config" />
  <redisClient abortOnConnectFail="true" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
    <hosts>
      <add host="172.16.20.233" cachePort="6479" />
      <add host="172.16.20.233" cachePort="6579" />
    </hosts>
  </redisClient>
  <couchbase useSsl="false">
    <servers>
      <add uri="http://172.16.20.1:8091/pools"></add>
      <add uri="http://192.168.1.243:8091/pools"></add>
    </servers>
    <buckets>
      <add name="default" useSsl="false" password="">
        <connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
      </add>
      <add name="asp.net" useSsl="false" password="">
        <connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
      </add>

      <add name="WMS" useSsl="false" password="">
        <connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
      </add>
    </buckets>
  </couchbase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="Couchbase" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.11.0" newVersion="1.3.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase.NetClient" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.7.0" newVersion="3.5.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Nosql.Redis" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.2.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Tuhu_purchase" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_purchase;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="ReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="CacheReadOnly" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Cache;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
    <add name="WmsReadOnly" connectionString="data source=172.16.20.1\DEV;Initial Catalog=WMS;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="dev254" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="MembershipConnection" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="GungnirConnectionString" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="SystemLogConnectionString" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="StarterSite_profilesConnectionString" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_profiles;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="GungnirEntities" connectionString="metadata=res://*/DAL.Order.csdl|res://*/DAL.Order.ssdl|res://*/DAL.Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GungnirData" connectionString="metadata=res://*/Models.ThBiz.csdl|res://*/Models.ThBiz.ssdl|res://*/Models.ThBiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TuhuBiz" connectionString="metadata=res://*/Models.TuhuBiz.csdl|res://*/Models.TuhuBiz.ssdl|res://*/Models.TuhuBiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="BaoYang" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=BaoYang;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="ReportingDB" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=ReportingDB;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="StarterSite_productcatalogConnectionString" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Aliyun" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="WMS" connectionString="data source=172.16.20.1\DEV;Initial Catalog=WMS;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="GungnirMonitorLog" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir_MonitorLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Gungnir_ReadOnly" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="VenderSystem" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=VenderSystem;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="MonitorSystemConnection" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Monitor;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Gungnir_AlwaysOnRead" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="BaoYang_AlwaysOnRead" connectionString="data source=172.16.20.1\DEV;Initial Catalog=BaoYang;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_productcatalog_AlwaysOnRead" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="TMS" connectionString="data source=172.16.20.1\DEV;Initial Catalog=WMS;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="GungnirWorkFlow" connectionString="data source=172.16.20.1\DEV;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_purchase" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_purchase;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Log" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_Log;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="fileType" value="法人身份证,开户许可证,工商营业执照,组织机构代码,税务登记证,三证合一营业执照,增值税一般纳税人资格证书"></add>
    <add key="warrantType" value="厂家给途虎授权,厂家给代理授权,代理给途虎授权,厂家给经销商授权,经销商给途虎授权,经销商给二批授权,二批给途虎授权,授权证书"></add>
    <add key="VenderAuditJustic" value="" />
    <add key="VenderAuditQuality" value="" />
    <add key="VenderAuditPurchase" value="" />
    <add key="VenderAuditManage" value="" />
    <add key="VenderAuditFilePath" value="http://localhost:8088/" />
    <add key="shareVenderAuditFilePath" value="E:\ImgTest/" />
    <add key="EnableVenderSystem" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!--提交订单自动按备选仓库占库存-->
    <add key="NewAutoSwitchWareHouse:Enabled" value="true" />
    <!--手动更改仓库的配置验证-->
    <add key="SwitchWareHouseConfig:Enable" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TousuCcEmail" value="yudan@tuhu.cn,yangzhibin@tuhu.cn,liangshuai@tuhu.cn&#xA;,wangxufeng@tuhu.cn,yuanfeng@tuhu.cn" />
    <!--活动图片上传路径-->
    <add key="action99Path" value="\\169.254.28.220\9.9\" />
    <!--App上传绝对路径-->
    <add key="sem:appSavePath" value="\\172.16.20.1\D\网站\Test Site\resource\app\" />
    <!--App下载相对路径-->
    <add key="sem:appUrlPref" value="http://resource.tuhu.test/app/" />
    <add key="lun" value="'TR','LG'" />
    <!--上海仓库-目前-->
    <add key="house" value="-26" />
    <add key="waibao" value="v-" />
    <!--上海仓库的OrderNO-->
    <add key="SHWH" value="0" />
    <!--上海在途的OrderNO-->
    <add key="SHWHT" value="-1" />
    <!--北京仓库的OrderNO-->
    <add key="BJWH" value="-3" />
    <!--北京在途的OrderNO-->
    <add key="BJWHT" value="-4" />
    <!--广州仓库的OrderNO-->
    <add key="GZWH" value="-5" />
    <!--广州在途的OrderNO-->
    <add key="GZWHT" value="-6" />
    <!--在途的OrderNO-->
    <add key="WHT" value="998" />
    <!--盘亏的OrderNO-->
    <add key="IS" value="9999" />
    <!--检测的OrderNo-->
    <add key="TestON" value="9998" />
    <!--使用WMS的仓库OrderNo，使用逗号分隔-->
    <!--<add key="WareHousesUseWMS" value="-7,0,-3" />-->
    <add key="TransferPickingCapacity" value="5" />
    <!--使用保险单的仓库OrderNo,使用逗号分隔-->
    <add key="WareHousesUseInsurance" value="0" />
    <!--添加微信配置，杨晓丽的功能需求-->
    <add key="WeixinAppkey" value="wx21f3300bbe61dc90" />
    <add key="WeixinAppsecret" value="3733bb106c27455f395b7a129aab3a40" />
    <add key="weiXinMesConfirm" value="您的订单已确认。订单号{0}，总价{1}，货品:{2}" />
    <add key="emailMesConfirmBeauty" value="尊敬的{0}，{1}。预约门店：{2}，服务验证码：{3}，请在收到产品到店短信之后，再前往预约门店享受该服务哦。如有任何疑问，请拨打途虎热线4001118868【途虎养车网】" />
    <add key="emailMesConfirm" value="尊敬的{0}，{1}。如有任何疑问，请拨打途虎热线4001118868【途虎养车网】" />
    <add key="weiXinMesSent" value="您的订单:{0}已发货，快递公司和单号为:{1}{2}，请留意查收" />
    <add key="emailMesSent" value="尊敬的{0}，{1}。如有任何疑问，请拨打途虎热线4001118868【途虎养车网】" />
    <add key="weiXinMesShop" value="您购买的货品(订单号{0})已经配送到指定安装店。地址:{1}；营业时间:{2}。本次为您安装服务的是:{3}。请于安装完成后，在安装单上签字并保留一联作为凭证。" />
    <add key="weiXinMesShopBeauty" value="您购买的货品(订单号{0})已经配送到指定安装店。地址:{1}；营业时间:{2}。本次为您安装服务的是:{3}。请即时凭打蜡服务验证码至门店享受全车打蜡服务。" />
    <add key="emailMesShop" value="尊敬的{0}，{1}如有任何疑问，请拨打途虎热线4001118868【途虎养车网】" />
    <add key="weiXinMesInstall" value="感谢完成安装，30元保养券马上拿！发送验证码123456到途虎微信公众号tuhu8868，即可获30元保养产品现金抵用券。" />
    <add key="WeixinApiUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token?" />
    <add key="title" value="尊敬的{0}，您在途虎养车网有一笔订单:" />
    <add key="remark_other" value="\n\n您此次订购的商品清单：\n\n{0} \n商品发货后，我们将发送微信消息通知您，您可留意查收。\n\n如有疑问请拨打4001118868，或直接在途虎微信留言。\n\n非常感谢！\n\n途虎养车网" />
    <add key="remark" value="\n\n您此次订购的商品清单：\n\n{0} \n商品到店后，我们将发送微信消息通知您，您在方便的时候前往安装店即可\n\n如有疑问请拨打4001118868，或直接在途虎微信留言。\n\n非常感谢！\n\n途虎养车网" />
    <add key="color" value="#181818" />
    <add key="shoptitle" value="尊敬的{0}，您在途虎养车网购买的商品，已到达安装店，您可在方便的时候前往安装。" />
    <add key="shopremark" value="\n【安装店信息】\n{0}\n\n【非常重要】请于安装完成后，在安装单上签字并保留一联作为凭证。\n\n如有任何问题，请拨打4001118868，或直接在途虎微信里留言。\n\n途虎养车网" />
    <add key="delivertitle" value="尊敬的{0}，您在途虎养车网订购的商品已发货：\n\n快递/物流公司：{1}\n运单号：{2}" />
    <add key="deliverremark" value="\n\n请您留意查收商品，如有任何问题，请拨打4001118868，或直接在途虎微信留言\n\n途虎养车网" />
    <add key="remark1" value="\n\n您此次订购的商品清单：\n\n{0} \n如有疑问请拨打4001118868，或直接在途虎微信留言。\n\n非常感谢！\n\n途虎养车网" />
    <add key="SfPayMethod" value="寄付月结" />
    <add key="SfAccount" value="8521234567" />
    <add key="SfExpressType" value="顺丰标快" />
    <add key="SfexpressServiceUrl" value="http://bsp-test.sf-express.com:9090/bsp-ois/ws/expressService" />
    <add key="SfexpressServiceCode" value=" bjjtsm,3A7l0upr2cBh" />
    <add key="PM25" value="TR-GY-DUCARO-GA|4,TR-GY-EXCELLENCE|1" />
    <add key="ShopImage" value="D:\Sites\tuhu\images\marketing\shops\" />
    <add key="shopImageUrl" value="http://image.tuhus.dev/images/marketing/shops/" />
    <add key="commision" value="0.05" />
    <add key="shopImageUrl" value="http://image.tuhu.cn/Images/Marketing/Shops/" />
    <add key="MaxAllowedForUpdateWareHouse" value="50" />
    <add key="UpdateWareHouse" value="shunfeng" />
    <!--七牛云存储-->
    <add key="USER_AGENT" value="" />
    <add key="ACCESS_KEY" value="d8Y8Alhgx1j0A5vI7bpP4QNVhcJ4TH7UoUOuVyVQ" />
    <add key="SECRET_KEY" value="m3i8t73HMRjDyWuUmFHRrjK2kUnPq5Cgt8vKY5GV" />
    <add key="RS_HOST" value="" />
    <add key="UP_HOST" value="http://upload.qiniu.com/" />
    <add key="RSF_HOST" value="" />
    <add key="PREFETCH_HOST" value="" />
    <add key="Qiniu:comment_scope" value="wxbanner" />
    <add key="Qiniu:comment_url" value="http://wxbanner.qiniudn.com/" />
    <!--百世物流相关-->
    <!-- 是否开启百世对接  1开启  0关闭 -->
    <add key="IsOpenPushBaishiService" value="1" />
    <!--超级管理员 不进行权限验证-->
    <add key="SupperUsers" value="brantgu@tuhu.cn|yangpeipei@tuhu.cn|cuirongqing@tuhu.cn|yuancong@tuhu.cn|zhangchen@tuhu.cn|dujingwu@tuhu.cn|zhuhequn@tuhu.cn|chenmin@tuhu.cn|huxiaodong@tuhu.cn|zhuyan@tuhu.cn|baoli@tuhu.cn|renyutao@tuhu.cn|" />
    <!--验证访问路径 防止用户从其他路径进行访问-->
    <!--192.168.1.74:8080-->
    <add key="DomainName" value="localhost:34996" />
    <add key="ApiPath" value="http://localhost:9009/" />
    <!--//可分包快递公司配置一定要加，-->
    <add key="FenBaoDeliveryCompany" value="shunfeng,huitongkuaidi,yuantong," />
    <!--上海百世仓库发往江浙沪的，如果配送方式是途虎物流，保持途虎物流，否则快递，-->
    <add key="ShangHaiBaiShiToJiangZheHu" value="上海市,江苏省,浙江省" />
    <!--上海百世仓库发往江浙沪的，如果配送方式是途虎物流，保持途虎物流，否则快递，-->
    <add key="BeiJingBaiShiToBeiJing" value="北京市" />
    <add key="emailCCPurchase" value="renyingqiang@tuhu.cn;gujiebrant@tuhu.cn;zhuzhenni@tuhu.cn" />
    <add key="BaseStockLocationAPIUrl" value="http://172.16.20.1/api/StockLocation/" />
    <add key="xianShangPayMethod" value="3bank, 4netpay, 5alipay, aweixin, bweixin, 8pingtai" />
    <!--请款审核凭证上传查看下载根地址，在PurchaseApplyPayment，VoucherUrl列为：/Content/Upload/Voucher/20150609/6356944284565750602988141.png-->
    <!--<add key="VoucherUploadUrl" value="\\172.16.20.1\D\网站\Test Site\resource" />-->
    <add key="VoucherDownloadUrl" value="http://resource.tuhu.test" />
    <!--AssignByWareHouse：按仓库和品牌分采购任务；
          AssignByBrand：按品牌分采购任务；
          AssignByOrderChannel：按渠道分采购任务-->
    <add key="AssignPurchaseTaskWay" value="AssignByWareHouse" />
    <!--一类 最大库存天数-->
    <add key="MaxStockDaysOfFirst" value="15" />
    <!--二类 最大库存天数-->
    <add key="MaxStockDaysOfSecond" value="18" />
    <!--三类 最大库存天数-->
    <add key="MaxStockDaysOfThree" value="30" />
    <add key="SoaBaseAddress" value="http://soa.tuhu.test/sms" />
    <!--付款数据分页PageSize-->
    <add key="PurchasePayDataPageSize" value="3" />
    <!--上传附件主路径-->
    <add key="UploadFileMain" value="http://dcmt.tuhu.cn" />
    <!--合同-->
    <add key="UploadFile_Contract" value="//win2016-01.ad.tuhu.cn/yewudoc/yewudoc/shops/Contract" />
    <!--三证-->
    <add key="UploadFile_ThreeQualificationDoc" value="//win2016-01.ad.tuhu.cn/yewudoc/shops/ThreeQualificationDoc" />
    <!--合同影像-->
    <add key="UploadFile_ContractImageInfo" value="//win2016-01.ad.tuhu.cn/yewudoc/tuhu/ContractImageInfo" />
    <!--采购凭证-->
    <!--<add key="UploadFile_PurchaseVouchor" value="\\win2016-01.ad.tuhu.cn\yewudoc\finance\voucher" />-->
    <add key="UploadFile_PurchaseVouchor" value="\\TS20160803006\LocalFile\finance\voucher" />
    <!--所有的路径名都按照这样去拼接-->
    <!--<add key="TUHUSHAREFLOADERPATH" value="\\win2016-01.ad.tuhu.cn\yewudoc" />-->
    <add key="TUHUSHAREFLOADERPATH" value="\\TS20160803006\LocalFile" />

  </appSettings>
  <system.web>
    <httpModules>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1000000" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/LogOn" timeout="2880" name=".TUHUTENGU" defaultUrl="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey validationKey="8A99723897FCD7361B7B66049FEDC61B121296E6" decryptionKey="3010C2D2CEF3285BA890FD63C67B5DB6E80D31557C91BB70" validation="SHA1" decryption="3DES" />
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <location path="Account/ValidatedCodeImg">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <netTcpBinding>
        <binding name="WmsBaishiService_TCP">
          <security mode="None" />
        </binding>
        <binding name="NoneSecurityBehavior" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IFileUpload" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="tuhuServiceBehavior">
          <tuhuEndPointBehavior />
        </behavior>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
        <behavior name="AttachIdentityBehavior">
          <AttachThreadIdentityExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://172.16.20.2:9016/FMS/Balance.svc" binding="netTcpBinding" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.FMS.Balance.IVoucherClient" name="Tuhu.Service.FMS.Balance.IVoucherClient" />
      <endpoint name="InventoryService" address="net.tcp://172.16.20.2:11121/ThBizServer/Inventory" behaviorConfiguration="AttachIdentityBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="ThBiz.Contracts.ServiceContracts.IInventory" />
      <endpoint name="OutBoundService" address="net.tcp://172.16.20.2:11121/ThBizServer/OutBound" behaviorConfiguration="AttachIdentityBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="ThBiz.Contracts.ServiceContracts.IOutBound" />
      <endpoint name="Tuhu.Service.Order.IDeliveryClient" address="net.tcp://172.16.20.1:9011/Order/Delivery.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IDeliveryClient" />
      <endpoint name="Tuhu.Service.Member.IAddressManagerClient" address="net.tcp://172.16.20.1:9011/Member/AddressManager.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Member.IAddressManagerClient" />
      <endpoint name="Tuhu.Service.Product.IGiftsClient" address="net.tcp://172.16.20.1:9010/Product/Gifts.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Product.IGiftsClient" />
      <endpoint name="Tuhu.Service.Order.IOrderListClient" address="net.tcp://172.16.20.1:9019/Order/OrderList.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderListClient" />
      <endpoint name="Tuhu.Service.Tousu.ITousuClient" address="net.tcp://172.16.20.1:9011/Tousu/Tousu.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Tousu.ITousuClient" />
      <endpoint name="Tuhu.Service.OprLog.IOprLogClient" address="net.tcp://172.16.20.1:9011/OprLog/OprLog.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.OprLog.IOprLogClient" />
      <endpoint name="Tuhu.Service.Shop.IRegionClient" address="net.tcp://172.16.20.1:9011/Shop/Region.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Shop.IRegionClient" />
      <endpoint name="Tuhu.Service.Order.IOrderOperationClient" address="net.tcp://172.16.20.1:9019/Order/OrderOperation.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderOperationClient" />
      <endpoint name="Tuhu.Service.Member.IPromotionClient" address="net.tcp://172.16.20.1:9011/Member/Promotion.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Member.IPromotionClient" />
      <endpoint name="Tuhu.Service.Order.IOrderQueryClient" address="net.tcp://172.16.20.1:9019/Order/OrderQuery.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderQueryClient" />
      <endpoint name="Tuhu.Service.Shop.IShopClient" address="net.tcp://172.16.20.1:9011/Shop/Shop.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Shop.IShopClient" />
      <endpoint name="Tuhu.Service.Finance.IFinanceClient" address="net.tcp://172.16.20.1:9019/Finance/Finance.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Finance.IFinanceClient" />
      <endpoint name="Tuhu.Service.KuaiXiu.IServiceCodeClient" address="net.tcp://172.16.20.1:9011/kuaixiu/servicecode.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.KuaiXiu.IServiceCodeClient" />
      <endpoint name="Tuhu.Service.Stock.IStockQueryClient" address="net.tcp://172.16.20.1:9011/Stock/StockQuery.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Stock.IStockQueryClient" />
      <endpoint name="Tuhu.Service.Order.IOrderServiceCodeClient" address="net.tcp://172.16.20.1:9019/Order/OrderServiceCode.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderServiceCodeClient" />
      <endpoint name="Tuhu.Service.Order.IOrderQueueClient" address="net.tcp://172.16.20.1:9011/Order/OrderQueue.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderQueueClient" />
      <endpoint name="Tuhu.Service.Push.IPushClient" address="net.tcp://172.16.20.1:9011/Push/Push.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Push.IPushClient" />
      <endpoint name="Tuhu.Service.PMS.IPMSClient" address="net.tcp://localhost:9011/PMS/PMS.svc" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.PMS.IPMSClient" />
      <endpoint name="NetTcpBinding_IFileUpload" address="net.tcp://172.16.20.1:12345/FileUpload/" bindingConfiguration="NetTcpBinding_IFileUpload" binding="netTcpBinding" contract="FileUpload.IFileUpload" />
      <endpoint name="Tuhu.Service.Member.IUserClient" address="net.tcp://172.16.20.1:9011/Member/User.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Member.IUserClient" />
      <endpoint name="Tuhu.Service.Vehicle.IVehicleClient" address="net.tcp://172.16.20.12:9011/Vehicle/Vehicle.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Vehicle.IVehicleClient" />
      <endpoint name="Tuhu.Service.Logistics.ILogisticsClient" address="net.tcp://172.16.20.1:9011/Logistics/Logistics.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Logistics.ILogisticsClient" />
      <endpoint name="Tuhu.Service.Utility.ISmsClient" address="net.tcp://172.16.20.1:9011/Utility/Sms.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.Utility.ISmsClient" />
      <endpoint name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" address="net.tcp://172.16.20.1:9011/EmailProcess/EmailProcessOperation.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
      <endpoint name="Tuhu.Service.CallCenter.ICRMClient" address="net.tcp://172.16.20.1:9011/CallCenter/Crm.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.CallCenter.ICRMClient" />
      <endpoint name="Tuhu.Service.Order.ICreateOrderClient" address="net.tcp://172.16.20.1:9011/Order/CreateOrder.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.ICreateOrderClient" />
      <endpoint name="Tuhu.Service.Product.IProductClient" address="net.tcp://172.16.20.1:9019/Product/Product.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Product.IProductClient" />
      <endpoint name="Tuhu.Service.Order.IOrderMonitorClient" address="net.tcp://172.16.20.1:9011/Order/OrderMonitor.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderMonitorClient" />
      <endpoint name="Tuhu.Service.OprLog.ISecurityAuditLogClient" address="net.tcp://172.16.20.1:9011/OprLog/SecurityAuditLog.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.OprLog.ISecurityAuditLogClient" />
      <endpoint name="Tuhu.Service.TMS.WarehouseDeliveryConfig.IWarehouseDeliveryConfigClient" address="net.tcp://172.16.20.2:12402/TMS/WarehouseDeliveryConfig.svc" binding="netTcpBinding" contract="Tuhu.Service.TMS.WarehouseDeliveryConfig.IWarehouseDeliveryConfigClient" />
      <endpoint name="Tuhu.Service.WMS.OwnerTransfer.IOwnerTransferClient" address="net.tcp://172.16.20.2:12403/WMS/OwnerTransfer.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.WMS.OwnerTransfer.IOwnerTransferClient" />
      <endpoint name="Tuhu.Service.Purchase.IPurchaseClient" address="net.tcp://172.16.20.1:9011/Purchase/Purchases.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Purchase.IPurchaseClient" />
      <endpoint name="Tuhu.Service.OprLog.IOrderListManualDisCountLogClient" address="net.tcp://172.16.20.1:9011/OprLog/OrderListManualDisCountLog.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.OprLog.IOrderListManualDisCountLogClient" />
      <endpoint name="Tuhu.Service.Tousu.IBaoYangShiPeiDutyClient" address="net.tcp://172.16.20.1:9011/Tousu/BaoYangShiPeiDuty.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Tousu.IBaoYangShiPeiDutyClient" />
      <endpoint name="ASNService" address="net.tcp://172.16.20.2:11121/ThBizServer/ASN" behaviorConfiguration="AttachIdentityBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="ThBiz.Contracts.ServiceContracts.IASN" />
      <endpoint name="Tuhu.Service.TuhuShop.IShopClient" address="net.tcp://172.16.20.1:9011/TuhuShop/Shop.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.TuhuShop.IShopClient" />
      <endpoint name="DeliveryTaskService" address="net.tcp://172.16.20.2:12407/TMS/DeliveryTask.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.TMS.DeliveryTask.IDeliveryTaskClient" />
      <endpoint name="Tuhu.Service.Order.IOrderTaskClient" address="net.tcp://172.16.20.1:9011/Order/OrderTask.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.Order.IOrderTaskClient" />
      <endpoint name="Tuhu.Service.FMS.PoItemReceipt.IPoItemReceiptClient" address="net.tcp://172.16.20.2:9014/FMS/PoItemReceipt.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.FMS.PoItemReceipt.IPoItemReceiptClient" />
      <endpoint name="Tuhu.Service.FMS.Balance.ISyncAccountClient" address="net.tcp://172.16.20.2:9016/FMS/Balance.svc" bindingConfiguration="NoneSecurityBehavior" behaviorConfiguration="tuhuServiceBehavior" binding="netTcpBinding" contract="Tuhu.Service.FMS.Balance.ISyncAccountClient" />
      <endpoint address="net.tcp://172.16.20.1:9011/UserAccount/UserAccount.svc" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" binding="netTcpBinding" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="AttachThreadIdentityExtension" type="Platform.MessageInspector.AttachThreadIdentityBehaviorExtension,Platform,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>