<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Link -->
    <link rel="stylesheet" href="../../Content/css/innerStyle.css">
    <link rel="stylesheet" href="../../Content/Css/bootstrap.css">
    <link rel="stylesheet" href="../../Content/Css/select2.min.css">
    <link rel="stylesheet" href="../../Content/Css/pager.css">
    <!-- Script -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.form.js"></script>
    <script type="text/javascript" src="../../Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../Content/js/layer/layer.js"></script>
    <script type="text/javascript" src="../../Content/js/select2/select2.min.js"></script>
    <script type="text/javascript" src="../../Content/js/My97DatePicker/WdatePicker.js"></script>
</head>
<body style="padding: 15px;">
    @RenderBody()
</body>
</html>